.sidebarMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b3d5c4;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebarMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffff;
  display: block;
  transition: 0.3s;
}

.sidebarMenu a:hover {
  color: #007239;
  background-color: #ffff;
}

.sidebarMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

span{
  font-size: 50px;
  color: #007239;
}

.mainContent{
  width: 100%;
}


#image {
  transition: margin-left .5s;
  width: 1500px;
  height: 750px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
  position: relative;
  background-position: center;
  display: table;
  margin: 0 auto;
}



@media screen and (max-height: 450px) {
  .sidebarMenu {padding-top: 15px;}
  .sidebarMenu a {font-size: 18px;}
} 